@import "tailwindcss";

/* DARK MODE */
@custom-variant dark (&:where(.dark, .dark *));

html {

  transition:
    background-color 0.3s,
    color 0.3s;

}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

button,
input[type="button"],
input[type="submit"],
select {
  cursor: pointer;
}